resolution-mode=highest
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@swc/core
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=core-js-pure
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
