@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-josefin: 'Josefin Sans', sans-serif;

  --color-primary: #fafafa;
  --color-secondary: #004b6b;
  --color-tertiary: #633561;
  --color-quaternary: #363636;
  --color-accent: #613a45;
}

html,
body {
  @apply h-full w-full m-0 p-0 overflow-x-hidden bg-black;
}

#root {
  @apply flex min-h-full w-full;
}
